In [1]:
import pandas as pd
from src.data_load import (load_csv, load_json)
from src.frequency import (bestselligproduct, bestbuyer)
from src.aggregation import (total_sales_per_user, total_products_by_address)
from src.filteradncount import (users_with_more_than_five_purchases, sales_to_bogota)
from src.clean_dataframes import clean_all

In [2]:
df_address= pd.read_csv( "data/address/address.csv", sep=";")
df_products= pd.read_csv( "data/products/products.csv", sep=";")
df_sales= pd.read_csv( "data/sales/sales.csv", sep=";")
df_salesdetails= pd.read_csv( "data/sales_details/sales_details.csv", sep=";")
df_users= pd.read_csv( "data/users/users.csv", sep=";")
df_address, df_products, df_sales, df_salesdetails, df_users = clean_all(df_address, df_products, df_sales, df_salesdetails, df_users)

In [16]:
df_users.isna().sum()
df_users = df_users.dropna(subset=["id_cliente"]).copy()
df_users["nombre_completo"] = df_users["nombre_completo"].fillna("Desconocido")
df_users["email"] = df_users["email"].fillna("Desconocido")
df_users["telefono"] = df_users["telefono"].fillna("Desconocido")
df_users["username"] = df_users["username"].fillna("Desconocido")
df_users["numero_documento"] = df_users["numero_documento"].fillna("Desconocido")
default_date = pd.to_datetime("1900-01-01")
df_users["fecha_nacimiento"] = pd.to_datetime(df_users["fecha_nacimiento"], errors="coerce").fillna(default_date)
df_users.isna().sum()

id_cliente          0
nombre_completo     0
email               0
telefono            0
username            0
numero_documento    0
fecha_nacimiento    0
dtype: int64

In [4]:
df_address

,id_direccion,id_cliente,descripcion,codigo_ciudad
0,1,14,"Avenida de Ibán Viña 13\r\nVizcaya, 54596",4106
1,2,8,"Pasadizo de Catalina Folch 928\r\nSevilla, 34613",9096
2,3,4,Urbanización Patricia Andreu 9 Puerta 8 \r\nSo...,1
3,4,1,Vial de Julián Hernando 1 Apt. 14 \r\nAsturias...,2722
4,5,28,Pasadizo de Nilda Reguera 871 Puerta 7 \r\nMad...,7475
5,6,8,"Calle de Gaspar Mateos 3 Piso 8 \r\nCáceres, 4...",1
6,7,2,"Cañada Merche Gracia 53\r\nÁvila, 37567",9030
7,8,10,Callejón de Eliseo Cuevas 42 Puerta 6 \r\nAlba...,5990
8,9,20,"Vial de Olimpia Valls 21\r\nLa Coruña, 69889",6920
9,10,16,"Rambla Rodolfo Valentín 25\r\nHuelva, 03499",4567
10,11,13,Vial de Ofelia Vázquez 44 Puerta 1 \r\nPalenci...,1
11,12,0,"Vial Américo Iñiguez 94 Apt. 95 \r\nCáceres, 9...",4321
12,13,7,"Glorieta de Fulgencio Sanchez 72\r\nNavarra, 5...",9945
13,14,2,"Vial Héctor Jaén 4 Puerta 8 \r\nCantabria, 83421",3168
14,15,10,"Paseo Desiderio Tovar 490\r\nNavarra, 44387",5509
15,16,30,"Alameda de Elvira Pol 41\r\nCuenca, 57626",6100
16,17,26,"Urbanización Jose Luis Almansa 99\r\nCádiz, 33265",1
17,18,11,"Avenida Pedro Tamayo 9\r\nTeruel, 55498",1282
18,19,3,Glorieta Guadalupe Peinado 23 Apt. 18 \r\nVale...,4927
19,20,10,Pasadizo de Ciríaco Escolano 14 Puerta 0 \r\nO...,9207
20,21,16,"Acceso Rubén Sanabria 30 Puerta 4 \r\nNavarra,...",9046
21,22,23,"Pasadizo de Mariana Carvajal 46\r\nBurgos, 20165",7899
22,23,19,Avenida Victorino Carreras 34 Apt. 69 \r\nMála...,8856
23,24,19,"Plaza de Merche Cobos 48\r\nAlmería, 83489",7788
24,25,24,"Acceso Aurelia Duarte 96 Puerta 9 \r\nMadrid, ...",7625
25,26,18,Callejón Onofre Llamas 2 Piso 1 \r\nLas Palmas...,9277
26,27,5,"Vial Dafne Vallejo 4 Puerta 2 \r\nTeruel, 78678",2390
27,28,6,"Cuesta Paloma Carro 87\r\nSalamanca, 07004",6930
28,29,15,"Alameda de Maxi Torrecilla 9\r\nPalencia, 08342",9951
29,30,8,Pasadizo Ildefonso Sanabria 9\r\nSanta Cruz de...,5211
30,31,22,"Calle Jessica Noriega 27\r\nHuesca, 33439",2237
31,32,30,"Alameda de Nayara Salcedo 70\r\nCiudad, 80272",3690
32,33,28,"Alameda de Leocadio Milla 378\r\nBadajoz, 57620",9667
33,34,26,"Via de Rita Padilla 64 Apt. 18 \r\nCórdoba, 79793",3833
34,35,10,"Calle Artemio Colomer 72 Apt. 37 \r\nÁvila, 94743",7637
35,36,27,Alameda de José Luis Aragón 57 Puerta 7 \r\nTe...,3554
36,37,15,"Ronda de Clara Márquez 46 Piso 3 \r\nBaleares,...",6442
37,38,21,"Glorieta Sabina Batlle 5\r\nLa Coruña, 79596",1085
38,39,28,Acceso de Alondra Ribera 20 Puerta 9 \r\nCaste...,6684
39,40,26,"Acceso de Maristela Segura 17\r\nValencia, 22899",4325

In [ ]:
df_products.head(1)

,id_producto,producto,descripcion,categoria,unidad,precio,is_active
0,1,Et,Occaecati ad laborum suscipit nostrum itaque.,hogar,lt,"159,08",VERDADERO

In [6]:
df_sales.head(1)

   id  fecha  id_cliente  direccion_id   total
0   1  45860          25            31  849,13

In [ ]:
df_salesdetails.head(1)

   id_detalle  id_venta  id_producto  cantidad  subtotal
0           8        27           18        10    4943.0

In [3]:
df_merged_details_products = pd.merge(
    df_products, df_salesdetails, on="id_producto", how="left"
)
df_merged_details_products
df_bestselling = (
    df_merged_details_products[['id_producto', 'producto', 'cantidad']]
    .groupby(['id_producto', 'producto'])['cantidad']
    .sum()
    .reset_index()
    .sort_values(by='cantidad', ascending=False)
)

print("Producto más vendido:")
print(df_bestselling.head())

Producto más vendido:
    id_producto    producto  cantidad
1             2     Placeat        52
2             3     Placeat        51
11           12     Ducimus        42
8             9  Cupiditate        39
17           18  Aspernatur        37