In [4]:
import pandas as pd

In [9]:
df_address= pd.read_csv( "data/address/address.csv", sep=";")
df_products= pd.read_csv( "data/products/products.csv", sep=";")
df_sales= pd.read_csv( "data/sales/sales.csv", sep=";")
df_salesdetails= pd.read_csv( "data/sales_details/sales_details.csv", sep=";")
df_users= pd.read_csv( "data/users/users.csv", sep=";")

In [16]:
df_users.isna().sum()
df_users = df_users.dropna(subset=["id_cliente"]).copy()
df_users["nombre_completo"] = df_users["nombre_completo"].fillna("Desconocido")
df_users["email"] = df_users["email"].fillna("Desconocido")
df_users["telefono"] = df_users["telefono"].fillna("Desconocido")
df_users["username"] = df_users["username"].fillna("Desconocido")
df_users["numero_documento"] = df_users["numero_documento"].fillna("Desconocido")
default_date = pd.to_datetime("1900-01-01")
df_users["fecha_nacimiento"] = pd.to_datetime(df_users["fecha_nacimiento"], errors="coerce").fillna(default_date)
df_users.isna().sum()

id_cliente          0
nombre_completo     0
email               0
telefono            0
username            0
numero_documento    0
fecha_nacimiento    0
dtype: int64

In [ ]:
df_address.head(1)
df_address.isna().sum()
df_address=df_address.dropna(subset=["id_direccion"]).copy()
df_address=df_address.dropna(subset=["id_cliente"]).copy()
df_address=df_address.dropna(subset=["codigo_ciudad"]).copy()
df_address["descripcion"] = df_address["descripcion"].fillna("Desconocido")
df_address["ciudad"] = df_address["ciudad"].fillna("Desconocido")
df_address["pais"] = df_address["pais"].fillna("Desconocido")
df_address["codigo_postal"] = df_address["codigo_postal"].fillna("Desconocido")

,id_direccion,id_cliente,descripcion,codigo_ciudad
0,1,14.0,"Avenida de Ib치n Vi침a 13\r\nVizcaya, 54596",4106.0

In [ ]:
df_products.head(1)
df

,id_producto,producto,descripcion,categoria,unidad,precio,is_active
0,1,Et,Occaecati ad laborum suscipit nostrum itaque.,hogar,lt,"159,08",VERDADERO

In [13]:
df_sales.head(1)

   id  fecha  id_cliente  direccion_id   total
0   1  45860          25            31  849,13

In [14]:
df_salesdetails.head(1)

   id_detalle  id_venta  id_producto  cantidad subtotal
0           1        12            5         3   796,98